{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/ae6f98c258.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="profile-container">
        <div class="profile-img">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="profile-data">
            UserName:{{user.username}}
        </div>
        <div class="buttons">
            <button class="submit-button" type="submit">Logout</button>
        </div>
    </div>
</body>

</html>