{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script>
        document.getElementsByClassName("submit-button").addEventListener("click", nextPage);
        function nextPage() {
            window.location.href = "C:\Users\Arun Babu\Documents\Web\ToDoApp\todo.html";
        }
    </script>
</head>

<body>
    <div class="auth-container">
        <h1>Sign In</h1>
        <form>
            <div class="form-group">
                <label for="InputEmail">Email address:</label>
                <input type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="InputPassword1">Password:</label>
                <input type="password" id="InputPassword1" placeholder="Password">
            </div>
            <div class="buttons">
                <button onclick="nextPage" class="submit-button">Submit</button>
                <button onclick="window.location.href='signup.html';" class="register-button">Register</button>
            </div>
        </form>
    </div>
</body>

</html>