<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/ae6f98c258.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="todo-container">
        <header>
            <h1>To Do Lists</h1>
            <a href="./createTodo.html">
                <i class="fa-solid fa-plus"></i>
            </a>
        </header>
        <div class="list-data">
            <div class="data-elements">
                <h4>work to do</h4>
                <p>complete the work that given by nerd complete the work that given by nerdcomplete the work that given
                    by nerdcomplete the work that given by nerdcomplete the work that given by nerdcomplete the work
                    that given by nerdcomplete the work that given by nerd</p>
            </div>
            <div class="data-edit">
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="list-data">
            <div class="data-elements">
                <h4>work to do</h4>
                <p>complete the work that given by nerd complete the work that given by nerdcomplete the work that given
                    by nerdcomplete the work that given by nerdcomplete the work that given by nerdcomplete the work
                    that given by nerdcomplete the work that given by nerd</p>
            </div>
            <div class="data-edit">
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="list-data">
            <div class="data-elements">
                <h4>work to do</h4>
                <p>complete the work that given by nerd complete the work that given by nerdcomplete the work that given
                    by nerdcomplete the work that given by nerdcomplete the work that given by nerdcomplete the work
                    that given by nerdcomplete the work that given by nerd</p>
            </div>
            <div class="data-edit">
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
        <div class="list-data">
            <div class="data-elements">
                <h4>work to do</h4>
                <p>complete the work that given by nerd complete the work that given by nerdcomplete the work that given
                    by nerdcomplete the work that given by nerdcomplete the work that given by nerdcomplete the work
                    that given by nerdcomplete the work that given by nerd</p>
            </div>
            <div class="data-edit">
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
    </div>
</body>

</html>