{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/ae6f98c258.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="todo-container">
        <header>
            <div class="heading">
                <h1>ToDo Lists</h1>
            </div>
            <div class="menu">
                <a href="newTask">
                    <div class="create">
                        <p>New Task</p>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </a>
                <a href="">
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </a>
            </div>
        </header>
        <main>
            {% for taskData in data %}
            <div class="list-data">
                <div class="data-elements">
                    <h4>{{taskData.title}}</h4>
                    <p>
                        {{taskData.description}}
                    </p>
                </div>
                <div class="data-edit">
                    </a>
                    <i class="fa-solid fa-check"></i>
                    <a href="editTask">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'delete' taskData.id %}">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </main>
    </div>
</body>

</html>